# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Node
node_modules/
dist/
build/

# macOS
.DS_Store

# Conda environments (if saved in project)
*.conda
*.egg-info/

# VS Code
.vscode/

# Vercel
.vercel/

# Notes
notes.txt

# User-generated data
reviews.json
